[Unit]
Description=Xray Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pet_vless_telegram
ExecStart=/opt/pet_vless_telegram/venv/bin/python /opt/pet_vless_telegram/scripts/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
